@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  font: 16px / 1 sans-serif;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  padding: 10px;
}
h2.name {
  color: rgb(80, 72, 65);
}

li,
a {
  text-decoration: none;
  color: rgb(80, 72, 65);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 20px;
}
.header-icon {
  width: 70px;
  height: 70px;
  margin-bottom: -20px;
  margin-top: -20px;
}

ul.nav_links li {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;
  font-size: 13px;
  list-style: none;
}
ul.nav_links li:hover {
  transition: all 0.5s ease;
  background-color: rgb(209, 216, 210);
  border-radius: 1rem;
  padding: 5px;
}

div.dot {
  background-color: rgb(112, 98, 85);
  padding: 10px;
  color: rgb(112, 98, 85);
}

div.hero {
  background-image: url(/images/farm2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

h1 {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px 20px 20px 20px;
  border-radius: 1rem;
}
button.home {
  font-family: 'Open Sans', sans-serif;
  // margin-bottom: 90px;
  padding: 15px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

div.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2rem;
  margin: 20px;
  border: thin solid rgb(161, 147, 134);
  border-radius: 1rem;
  color: rgb(80, 72, 65);
  padding: 30px;
}

//view farms page ******************************************************************

div.filter {
  background-color: rgb(225, 236, 225);
  background-image: url(/images/farmlist.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
ul.filterbar {
  list-style: none;
}
.search-farms {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
section.filter-section {
  margin-top: 30px;
  margin-bottom: -50px;
  // border: solid;
}

h4 {
  color: rgb(95, 81, 74);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  padding: 15px;
  width: 170px;
  text-align: center;
}
ul.filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: rgb(95, 81, 74);
  padding: 4px;
  margin-left: -6px;
}

.city {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(95, 81, 74);
}
.organic,
.meat,
.eggs,
.dairy {
  margin-top: 15px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.list-button {
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(75, 64, 59);
  margin: 10px;
  margin-top: 5px;
  cursor: pointer;
}
.list-button:hover {
  // transition: all 0.2s ease;

  background-color: rgb(224, 235, 220);
}
.clear-button {
  font-family: 'Open Sans', sans-serif;
  border: none;
  // border-radius: 3rem;
  padding: 5px;
  background-color: rgb(195, 197, 196);
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.clear-button:hover {
  transition: all 0.3s ease;

  background-color: rgb(212, 223, 207);
}

label,
.city {
  background-color: white;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
}

p.farm-name {
  font-size: 22px;
  border: none;
  margin-top: -10px;
  max-width: 200px;
}
ul.farmlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 3rem;
  list-style: none;
  padding: 30px;
  margin: 40px;
  text-align: center;
  background-color: white;
  text-align: center;
  color: rgb(80, 72, 65);
}
ul.farmlist li {
  margin-bottom: 20px;
  border: thin solid rgb(195, 211, 193);
  padding: 20px;
  margin: 5px;
}

img.farm-image {
  border-radius: 1rem;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
p.farm-city,
.farm-address {
  border-radius: 1rem;
  max-width: 200px;
}

button.view {
  border-radius: 1rem;
  border: none;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

button.view:hover {
  transition: all 0.5s ease;
  background-color: rgb(209, 216, 210);
}
.view a:hover {
  transition: all 0.5s ease;
  // color: white;
}
//add farm page *****************************************************************************

form.add-farm {
  display: flex;
  justify-content: center;
  background-image: url(/images/formimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ul.flex-outer {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 50px;
  border-radius: 2rem;
  margin: 20px;
  background-color: white;
}

ul.flex-outer li {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
li.add-farm-txt {
  font-weight: bold;
  font-size: 23px;
}

li.error-msg {
  max-width: 400px;
  color: rgba(255, 56, 56, 0.904);
}

section.boolean-form {
  display: flex;
}
#name,
#address,
#website,
#phone {
  padding: 10px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}
#description {
  padding: 5px;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
}

select.organic,
.meat,
.eggs,
.dairy {
  padding: 10px;
  color: rgb(75, 64, 59);
}

button.submit {
  transition: all 0.5s ease;
  border: 3px solid white;
  background-color: rgb(236, 236, 236);
  text-align: center;
  line-height: 1;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  padding: 13px;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
  color: white;
  color: rgb(75, 64, 59);
}
button.submit:hover {
  color: white;
  background-color: rgb(209, 216, 210);
}
input[type='checkbox'] {
  position: relative;
  cursor: pointer;
}
input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  border: 1px solid rgb(75, 64, 59);
  border-radius: 3px;
  background-color: white;
}

input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 3px;
  height: 8px;
  border: solid rgb(75, 64, 59);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
div.img-upload {
  border: thin solid grey;
  color: rgb(75, 64, 59);
  padding: 2rem;
  margin: 1rem;
}

// farm detail page *************************************

.name-header {
  font-size: 30px;
  margin-bottom: 30px;
}
nav.farm-detail-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin: 20px;
  background-image: url(/images/farmdetails3.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul.farm-info {
  list-style: none;
  border-radius: 3rem;
  padding: 60px;
  text-align: justify;
  background-color: white;

  // border: solid;
}
li.farm-info {
  text-align: center;
  // margin-top: -5px;

  margin-bottom: 25px;
  margin-top: 20px;
}

.detail-photo {
  border-radius: 1rem;
  object-fit: cover;
}
li.farm-info-description {
  padding: 20px;
  border: thin solid rgb(100, 84, 84);
  border-radius: 1rem;
  max-width: 600px;
  line-height: 25px;
}

button.website {
  transition: all 0.5s ease;
  border: none;
  background-color: rgb(236, 236, 236);
  text-align: center;
  min-width: 200px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin: 1rem;
  margin-bottom: -2rem;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
  color: rgb(75, 64, 59);
}
button.website:hover {
  background-color: rgb(209, 216, 210);
}
.website a:hover {
  transition: all 0.5s ease;
  // color: white;
}

//footer ***********************************************************************************
footer {
  display: flex;
  justify-content: space-between;
  // position: fixed;
}
.footer-left {
  font-size: 14px;
  color: rgb(211, 201, 198);
  padding: 5px;
  border-radius: 1rem;
  margin: 1.5rem;
}
.footer-list {
  display: flex;
  list-style: none;
}

footer {
  font-size: 14px;
  color: white;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100;
  background-color: rgb(112, 98, 85);
}
img.icon {
  height: 35px;
  width: 35px;
  margin: 5px;
  margin-right: 20px;
  cursor: pointer;
}

@media all and (max-width: 500px) {
  ul.flex-outer {
    min-width: 250px;
  }

  section.boolean-form {
    margin-left: -20px;
  }

  ul.farm-info {
    margin: 20px;
  }
  ul.nav_links a {
    font-size: 10px;
  }
  .header-icon {
    width: 60px;
    height: 60px;
  }
  a.farm-finder {
    color: white;
    font-size: 1px;
  }
}
@media all and (max-width: 400px) {
  h1 {
    width: 190px;
    margin: -30px;
    margin-bottom: 10px;
  }

  ul.nav_links {
    width: 200px;
  }
}
