@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  font: 16px / 1 sans-serif;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  padding: 10px;
  // border-bottom: thin solid rgb(148, 133, 120);
}
h2.name {
  color: rgb(80, 72, 65);
}

li,
a {
  text-decoration: none;
  color: black;
  color: rgb(80, 72, 65);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid rgb(148, 133, 120);
}

ul.nav_links {
  list-style: none;
}
ul.nav_links li {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;
  font-size: 10px;
}

div.dot {
  background-color: rgb(148, 133, 120);
  padding: 10px;
  color: rgb(148, 133, 120);
}

div.hero {
  background-image: url('/images/farm2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

h1 {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px 20px 20px 20px;
  border-radius: 1rem;
}
button.home {
  font-family: 'Open Sans', sans-serif;
  // margin-bottom: 90px;
  padding: 15px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

div.body {
  text-align: center;
  line-height: 2rem;
  margin: 20px;
  border: solid rgb(161, 147, 134);
  border-radius: 1rem;
  color: rgb(80, 72, 65);
  padding: 30px;
}

footer {
  font-size: 14px;
  padding: 10px;
  // position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100;
  background-color: rgb(148, 133, 120);
}

//view farm page ******************************************************************

div.filter {
  background-color: rgb(225, 236, 225);
  background-image: url('https://images.pexels.com/photos/1084540/pexels-photo-1084540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
}
ul.filterbar {
  list-style: none;
}
.search-farms {
  padding: 10px;
  width: 200px;
  margin-bottom: -10px;
  border: none;
}
h4 {
  color: rgb(95, 81, 74);
  background-color: rgba(255, 255, 255, 0.8);
  // border-radius: 1rem;
  font-size: 30px;
  padding: 15px;
  margin-bottom: 5px;
  width: 170px;
  text-align: center;
}
ul.filter {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px;
  margin-left: -40px;
}
select {
  padding: 5px;
  color: rgb(80, 72, 65);
  margin-right: 5px;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  // border: none;
}

label {
  background-color: white;
  padding: 5px;
}
a.farmName {
  font-size: 20px;
  text-align: center;
}
ul.farmlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 3rem;
  list-style: none;
  padding: 30px;
  margin: 40px;
  text-align: center;
  background-color: white;
  text-align: center;
  color: rgb(80, 72, 65);
  border: 2px solid rgb(148, 133, 120);
}
ul.farmlist li {
  margin-bottom: 20px;
}
p {
  border: thin solid rgb(212, 201, 191);
  border-radius: 1rem;
  padding: 10px;
}
p.farm-image {
  border: none;
}

//add farm page *****************************************************************************
div.add-farm-msg {
  background-color: rgb(225, 236, 225);
  background-image: url('https://images.pexels.com/photos/51947/tuscany-grape-field-nature-51947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px;
}

ul.flex-outer {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 50px;
  border: solid rgb(161, 147, 134);
  border-radius: 2rem;
  margin: 20px;
}

ul.flex-outer li {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
li.add-farm-txt {
  font-weight: bold;
  font-size: 23px;
}

#name,
#address {
  padding: 10px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}
#description {
  height: 100px;
  font-family: 'Open Sans', sans-serif;
}

button.submit {
  border-radius: 1rem;
  border: none;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

// farm detail page *************************************

nav.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // border: solid rgb(148, 133, 120);
  border-radius: 3rem;
  margin: 20px;
  padding: 10px;
}
li.farm-detail-name {
  font-size: 20px;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(194, 229, 194);
  border-radius: 1rem;
}
// div.farm-detail-info {
//   border: solid rgb(161, 147, 134);
// }
ul.details {
  border-radius: 3rem;
  list-style: none;
  padding: 20px;
  background-color: white;
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 2rem;
}
.farm-detail-description {
  // line-height: 20px;
  font-size: 16px;
}
p.farm-detail-txt {
  border: solid rgb(161, 147, 134);
  padding: 10px;
  border-radius: 2rem;
}
.farm-detail-info li {
  margin: 10px;
  padding: 5px;
}
