@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  font: 16px / 1 sans-serif;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  padding: 10px;
  border-bottom: solid rgb(148, 133, 120);
}
h2.name {
  color: rgb(80, 72, 65);
}

li,
a {
  text-decoration: none;
  color: black;
  color: rgb(80, 72, 65);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul.nav_links {
  list-style: none;
}
ul.nav_links li {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;
  font-size: 10px;
}

div.dot {
  background-color: rgb(148, 133, 120);
  padding: 10px;
  color: rgb(148, 133, 120);
}

div.hero {
  background-image: url('/images/farm2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

h1 {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px 20px 20px 20px;
  border-radius: 1rem;
}
button {
  font-family: 'Open Sans', sans-serif;
  // margin-bottom: 90px;
  padding: 15px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

div.body {
  text-align: center;
  line-height: 2rem;
  margin: 50px;
  color: rgb(80, 72, 65);
}

footer {
  font-size: 14px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100;
  background-color: rgb(148, 133, 120);
}

//view farm page ******************************************************************

nav.farmlist {
  // border: thin solid rgb(148, 133, 120);
}
section {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  border-radius: 3rem;
  margin: 1px;
}
a.farmName {
  font-size: 20px;
  text-align: center;
}
ul.farmlist {
  border-radius: 3rem;
  list-style: none;
  padding: 30px;
  text-align: center;
  background-color: white;
  text-align: center;
  color: rgb(80, 72, 65);
}

p {
  border: thin solid rgb(221, 210, 201);
  border-radius: 1rem;
  padding: 10px;
}
img.farmlistimage {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}
// article.farm {
//   border: solid rgb(148, 133, 120);
//   border-radius: 3rem;
//   padding: 30px;
//   margin: 30px;
//   height: 250px;
//   width: 250px;
// }

// article ul {
//   display: flex;
//   margin-top: 6px;
//   margin-bottom: 18px;
//   list-style: none;
//   justify-content: space-between;
// }

// .farminfo {
//   list-style: none;
// }
// .farmName {
//   list-style: none;
//   font-weight: bold;
// }
//add farm page *****************************************************************************

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
}
form {
  border: solid rgb(236, 233, 217);
  display: flex;
  margin: 20px;
}

label {
  width: 160px;
}
input {
  font-family: 'Open Sans', sans-serif;

  padding: 5px;
}

.flex-outer li {
  margin: 5px;
}
.flex-outer li,
.flex-inner {
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .flex-inner li {
    margin: 5px;
  }
  textarea {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  select {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
  }
  button.submit:hover {
    color: rgb(143, 143, 143);
  }
}

// farm detail page *************************************

nav.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid rgb(148, 133, 120);
  border-radius: 3rem;
  margin: 20px;
  padding: 10px;
}
li.name {
  font-size: 18px;
  list-style: none;
  text-align: center;
  padding: 10px;
  background-color: white;
}
ul.details {
  border-radius: 3rem;
  list-style: none;
  padding: 20px;
  background-color: white;
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 2rem;
}
